.primary-heading {
  font-size: 7.2rem;
}

.secondary-heading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.tertiary-heading {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
}
