.u-d-flex {
  display: flex !important;
}

.u-justify-content-center {
  justify-content: center !important;
}

.u-justify-content-sb {
  justify-content: space-between !important;
}

.u-justify-content-sa {
  justify-content: space-around !important;
}

.u-align-items-center {
  align-items: center !important;
}

.u-margin-bottom-smallest {
  margin-bottom: 0.8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-biggest {
  margin-bottom: 8rem !important;
}

.u-text-align {
  text-align: center;
}
