.u-d-flex {
  display: flex;
}

.u-justify-content-center {
  justify-content: center;
}

.u-justify-content-sb {
  justify-content: space-between;
}

.u-justify-content-sa {
  justify-content: space-around;
}

.u-align-items-center {
  align-items: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-biggest {
  margin-bottom: 8rem !important;
}

.u-text-align {
  text-align: center;
}
