.nav {
  background-color: #fff;
  padding: 10px 0;

  .nav__logo {
    img {
      width: 15rem;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;

    img {
      width: 3rem;
    }
  }

  &__item {
    margin: 0 10px;
  }
}
